@charset "UTF-8";
/* CSS Document */
@media (min-width: 1200px){

}
@media(max-width: 1199px){
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -50px;
}
.for_page .container {
  max-width: 998px;
}
.container {
  max-width: 1000px;
}
.for_page {
  min-height: 100%;
  position: relative;
  width: 1250px;
}
.nav-menu .item-menu a {
  font-size: 13px;
}
}
@media(max-width: 991px){
  .main_menu{
    display: block;
}
.nav-menu{
    display: none;
    position: fixed;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 9;
    }
    .responsive-nav {
        display: flex;
        justify-content: space-between;
    }
    .responsive-nav-name{
        font-size: 25px;
        color:  #7e7e7e;
        padding-left: 10px;
        }
    .icon-humburher i{
        color: #333;
        font-size: 25px;
        transition: 0.7;
        cursor: pointer;
        padding: 10px 10px;
        }
        .nav-menu .closed {
            display: block;
            position: absolute;
            right: 35px;
            top: 20px;
        }
        .nav-menu ul.sub-menu li a button {
          font-size: 25px;
          font-weight: bold;
          margin-top: 20px;
      }
        .nav-menu ul.sub-menu li a button:hover {
          color: #29c5e6;
        }
        .nav-menu ul.sub-menu {
          display: inline-block;
          float: left;
          list-style: none;
      }
    .closed i{
        cursor: pointer;
        font-size: 24px;
        transition: 0.7s;
        }
    .closed i:hover{
        color: #29c5e6;
        }
  .for_page .container {
    max-width: 998px;
  }


}

@media(max-width: 767px){
  .page{
      height: 1990px;
      margin-bottom: 700px;
}
.windows input {
  font-size: 20px;
}
.name{
  height: 120px;
  text-align: center;
}
.block1 span {
  width: 20px;
  height: 20px;
  top:5px;
}
.block2 span{
  width: 20px;
  height: 20px;
  top:5px;
}
.clients::before {
  left: 10px;
  top: 18px;
  width: 20px;
  height: 20px;
}
.clients::after {
  left: 180px;
  top: 19px;
  min-width: 840px;
  height: 15px;
}
.two{
  font-size: 20px;
}
.two::after {
  left: 275px;
  top:5px;
  min-width: 740px;
}
.two2{
  font-size: 20px;
}
.two2::after {
  left: 285px;
  top:5px;
  min-width: 735px;
}
.three{
  font-size: 20px;
}
.three::after {
  left: 145px;
  min-width: 875px;
}
.three2{
  font-size: 20px;
}
.three2::after {
  left: 170px;
  min-width: 855px;
}
.three3{
  font-size: 20px;
}
.three3::after {
  left: 220px;
  min-width: 800px;
}
.clients{
  font-size: 20px;
}
.text1 p{
  font-size: 20px;
  }
  .text2 p{
    font-size: 20px;
    }
    .block2{
      display: flex;
    }
    .block2_parent_content{
      display: flex;
        width: 1000px;
    }
    .block2_parent_content2{
      display: flex;
        width: 1000px;
    }
    .block2_parent_content3{
      display: flex;
        width: 1000px;
    }
.footer{
    background: #7e7e7e;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 330px;
    }
    .footer-menu {
      column-count: 6;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
  }
.footer .h2 {
  text-align: start;
  font-size: 20px;
}
.btn3 {
  font-size: 14px;
}
.socials-box_text {
  font-size: 14px;
}
.footer-menu li a {
  font-size: 16px;
}
.footer .h2 {
  font-size: 16px;
}
.logo-footer img {
  padding-top: 5px;
  margin-right: 12px;
}
.text-footer {
  font-size: 16px;
  padding-top:10px;
}
.socials-box3{
  margin-top:-70px;
  display: inline-block;
}
.logo-footer{
  width: 100px;
  float: right;
  margin-top:-70px;
}
}
@media(max-width: 600px){

@media(max-width: 500px){
	
}
@media(max-width: 470px){
	
}
@media(max-width: 400px){
	
}

